.header form {
  display: flex;
  justify-content: center;
  input {
    width: 400px;
  }
  button {
    width: 150px;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .grid-cell {
    margin: 5px;
    border: solid 0.2px black;
    header {
      text-align: left;
      padding: 5px;
      font-size: 15px;
      max-width: 300px;
    }
    img {
      height: 300px;
    }
  }
}
